Source: ros-kinetic-homer-mapnav-msgs
Section: misc
Priority: extra
Maintainer: Florian Polster <fpolster@uni-koblenz.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-genmsg, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-nav-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-homer-mapnav-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-nav-msgs
Description: homer_mapnav_msgs contains the messages used for mapping and navigation
